.categoriesTitle {
  color: #3c4242;
  font-size: 34px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0.68px;
  margin-bottom: 70px;
}
.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}
