.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-bottom: 100px;
  .headerShopBtns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    .headerShopBtn {
      position: relative;
      display: flex;
      align-items: center;
      border-radius: 10px;
      color: rgba(128, 125, 126, 1);
      background-color: #f6f6f6;
      padding: 12px;
      cursor: pointer;
      .cardCounter {
        position: absolute;
        bottom: -5px;
        right: 0;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}
